<div class="panel">
  <div class="panel-heading">
    <span class="panel-title">{{$ctrl.metadata.labelText}}</span>
    <div
      ng-if="$ctrl.subformMetadata.bCrud"
      ng-show="!$ctrl.isFormActive"
      class="panel-heading-controls">
      <button
        ng-if="$ctrl.subformMetadata.bCrea"
        class="btn btn-xs btn-outline btn-outline-colorless btn-primary"
        ng-click="$ctrl.showForm('CREATE')">
        <span class="btn-label-icon left fas fa-plus"></span>{{$ctrl.txBtnAdd}}</button>
      <button
        ng-if="$ctrl.subformMetadata.bEdita && $ctrl.selectedEntity"
        class="btn btn-xs btn-outline btn-outline-colorless btn-info"
        ng-click="$ctrl.showForm('UPDATE')">
        <span class="btn-label-icon left fas fa-edit"></span>{{$ctrl.txBtnEdit}}</button>
      <button
        ng-if="$ctrl.subformMetadata.bBorra && $ctrl.selectedEntity"
        class="btn btn-xs btn-outline btn-outline-colorless btn-danger"
        ng-click="$ctrl.showForm('DELETE')">
        <span class="btn-label-icon left fas fa-trash-alt"></span>{{$ctrl.txBtnDelete}}</button>
    </div>
    <div
      ng-show="$ctrl.isFormActive"
      class="panel-heading-controls">
      <button
        class="btn btn-xs btn-outline btn-outline-colorless"
        ng-click="$ctrl.cancel()">
        {{$ctrl.txBtnCancel}}
      </button>

      <button
        class="btn btn-xs btn-outline btn-outline-colorless"
        ng-class="$ctrl.btnSubmitClass"
        ng-disabled="$ctrl.isBtnsDisabled"
        ng-click="$ctrl.submit()">
        {{$ctrl.txBtnSubmit}} <i class="far fa-save"></i>
      </button>
    </div>
  </div>

  <div class="panel-body">
    <!-- Form -->
    <base-form
      ng-show="$ctrl.isFormActive"
      fields="$ctrl.formFields"
      model="$ctrl.model"
      is-disabled="$ctrl.disableForm"
      on-change="$ctrl.updateModel($event)">
    </base-form>

    <!-- Grid -->
    <grid
      ng-show="!$ctrl.isFormActive"
      fields="$ctrl.visibleGridFields"
      pagination-options="$ctrl.gridPaginationOpts"
      data="$ctrl.gridData"
      total="$ctrl.gridTotal"
      on-row-selection="$ctrl.setEntity($event)"
      on-page-changed="$ctrl.setPage($event)">
    </grid>
  </div>
</div>
