<div class="modal-header">
  <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
  <h4 class="modal-title">{{$ctrl.txModalTitle}}</h4>
</div>

<!-- Delete Windows-->
<div class="modal-body" ng-if="$ctrl.action === 'DELETE'">
  <base-form
    fields="$ctrl.fields"
    model="$ctrl.model"
    on-change="$ctrl.updateModel($event)">
  </base-form>
  <p ng-if="$ctrl.txDeleteMsg">{{$ctrl.txDeleteMsg}}</p>
</div>

<!-- Window -->
<div class="modal-body" ng-if="$ctrl.formType === 'VENTANA'">
  <base-form
    fields="$ctrl.fields"
    model="$ctrl.model"
    on-change="$ctrl.updateModel($event)">
  </base-form>
</div>

<!-- Wizard -->
<wizard-form
  ng-if="$ctrl.formType === 'ASISTENTE' && $ctrl.action !== 'DELETE'"
  fields="$ctrl.fields"
  model="$ctrl.model"
  action="$ctrl.action"
  on-change="$ctrl.updateModel($event)"
  on-finish="$ctrl.submit()">
</wizard-form>


<div class="modal-footer">

  <button
    type="button"
    class="btn"
    ng-class="$ctrl.btnCancelClass"
    ng-click="$ctrl.cancel()">
    {{$ctrl.txBtnCancel}}
  </button>

  <button
    ng-if="$ctrl.formType === 'VENTANA' || $ctrl.action === 'DELETE'"
    type="button" class="btn"
    ng-class="$ctrl.btnSubmitClass"
    ng-click="$ctrl.submit()"
    ng-disabled="$ctrl.isBtnsDisabled">
    {{$ctrl.txBtnSubmit}}
  </button>
</div>
