<div class="row">
  <div class="col-md-12">
    <div class="panel panel-transparent">
      <div class="panel-body">
        <uib-tabset class="nav-lg">
          <uib-tab ng-repeat="group in $ctrl.groups">
            <uib-tab-heading>
              {{ group.txNombreGrupo }}
              <i
                ng-show="!group.isValid"
                uib-tooltip="{{ $ctrl.txErrorMessage }}"
                tooltip-class="tooltip-danger"
                class="text-danger fas fa-exclamation-circle"
              >
              </i>
            </uib-tab-heading>
            <base-form
              fields="group.fields"
              model="$ctrl.model"
              is-disabled="false"
              on-change="$ctrl.updateModel($event, group.cveGpo)"
            >
            </base-form>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
