<div class="navbar-header">
  <a class="navbar-brand" href="#">{{$ctrl.title}}</a>
</div>
<!-- Navbar toggle -->
<button
  type="button"
  class="navbar-toggle collapsed"
  data-toggle="collapse"
  data-target="#px-navbar-buttons-collapse"
  aria-expanded="false"
>
  <i class="navbar-toggle-icon"></i>
</button>
<!-- Collapse -->
<div
  class="navbar-collapse collapse"
  aria-expanded="false"
  id="px-navbar-buttons-collapse"
>
  <ul class="nav navbar-nav navbar-right">
    <li uib-dropdown>
      <a href uib-dropdown-toggle>
        <i class="px-navbar-icon fas fa-language"></i>
        {{$ctrl.txBtnLang}}
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="opt in $ctrl.langOptions">
          <a href ng-click="$ctrl.changeLang(opt)">{{opt.desc}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
