<div class="modal-header">
  <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
  <h4 class="modal-title">{{$ctrl.txTitForm}}</h4>
</div>

<div class="modal-body">

  <filter-panel
    fields="$ctrl.filterFields"
    on-filter="$ctrl.filterData($event)">
  </filter-panel>

  <grid
    fields="$ctrl.gridFields"
    pagination-options="$ctrl.gridPaginationOpts"
    data="$ctrl.gridData"
    total="$ctrl.gridTotal"
    on-row-selection="$ctrl.setSelectedRow($event)"
    on-page-changed="$ctrl.setPage($event)">
  </grid>
</div>

<div class="modal-footer">

  <button type="button" class="btn" ng-click="$ctrl.cancel()">
    {{$ctrl.txBtnCancel}}
  </button>

  <button ng-show="$ctrl.hasSelection" type="button" class="btn btn-primary" ng-click="$ctrl.select()">
    {{$ctrl.txBtnSelect}}
  </button>
</div>
