<div class="input-group input-group-sm">
  <input
    name="{{$ctrl.metadata.nomCampo}}"
    class="form-control"
    placeholder={{$ctrl.dateFormat}}
    uib-datepicker-popup="{{$ctrl.dateFormat}}"
    is-open="$ctrl.isCalendarOpen"
    clear-text="{{$ctrl.clearText}}"
    close-text="{{$ctrl.closeText}}"
    current-text="{{$ctrl.currentText}}"
    ng-model="$ctrl.model"
    ng-required="$ctrl.metadata.bRequerido"
    ng-change="$ctrl.updateModel()"
    ng-focus="$ctrl.toggleFocus(true)"
    ng-blur="$ctrl.toggleFocus(false)"
    ng-disabled="$ctrl.metadata.isDisabled">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar();">
      <i class="far fa-calendar-alt"></i>
    </button>
  </div>
</div>
