<li uib-dropdown on-toggle="$ctrl.toggle(open)">
  <a ng-if="$ctrl.type === 'NAV'"
    href
    uib-dropdown-toggle
    uib-tooltip="{{$ctrl.labelText}}"
    tooltip-enable="$ctrl.icon"
    tooltip-placement="bottom">
    <i ng-if="$ctrl.icon" class="px-navbar-icon {{$ctrl.icon}}"></i>
    <span class="{{$ctrl.labelClass}}">{{$ctrl.labelText}}</span>
  </a>
  <ul class="dropdown-menu" uib-dropdown-menu>
    <li ng-repeat="opt in $ctrl.options">
      <a href ng-click="$ctrl.click(opt)">{{opt.desc}}</a>
    </li>
  </ul>
</li>
