<div ng-if="!$ctrl.metadata" class="note note-warning">
  <h3>Alerta <i class="fas fa-exclamation-triangle"></i>
  </h3>
  <p>No existen metadatos para construir la forma.</p>
</div>

<div ng-if="$ctrl.metadata">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6 text-xs-center text-md-left text-nowrap">
        <h1>{{$ctrl.txTitForm}}</h1>
      </div>
      <div ng-if="$ctrl.metadata.bCrud">
        <hr class="page-wide-block visible-xs visible-sm">
        <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right" ng-if="$ctrl.metadata.bCrea">
          <button class="btn btn-sm btn-primary btn-block" ng-click="$ctrl.openModal('CREATE')"><span class="btn-label-icon left fas fa-plus"></span>{{$ctrl.txBtnAdd}}</button>
        </div>
        <div class="m-b-2 visible-xs visible-sm clearfix" ng-if="$ctrl.metadata.bEdita && $ctrl.selectedEntity"></div>
        <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right" ng-if="$ctrl.metadata.bEdita && $ctrl.selectedEntity">
          <button class="btn btn-sm btn-info btn-block" ng-click="$ctrl.openModal('UPDATE')"><span class="btn-label-icon left fas fa-edit"></span>{{$ctrl.txBtnEdit}}</button>
        </div>
        <div class="m-b-2 visible-xs visible-sm clearfix" ng-if="$ctrl.metadata.bBorra && $ctrl.selectedEntity"></div>
        <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right" ng-if="$ctrl.metadata.bBorra && $ctrl.selectedEntity">
          <button class="btn btn-sm btn-danger btn-block" ng-click="$ctrl.openModal('DELETE')"><span class="btn-label-icon left fas fa-trash-alt"></span>{{$ctrl.txBtnDelete}}</button>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="$ctrl.metadata.bFiltra">
    <filter-panel></filter-panel>
  </div>

  <div ng-if="$ctrl.metadata.bGrid">
    <grid
      fields="$ctrl.gridFields"
      pagination-options="$ctrl.gridPaginationOpts"
      data="$ctrl.gridData"
      total="$ctrl.gridTotal"
      on-row-selection="$ctrl.setEntity($event)"
      on-page-changed="$ctrl.setPage($event)"></grid>
  </div>
</div>
