<px-wizard class="wizard">
  <div class="wizard-wrapper">
    <ul class="wizard-steps">
      <li
        ng-repeat="group in $ctrl.groups"
        data-target="#wizard-step-{{ group.cveGpo }}"
      >
        <span ng-if="group.iconoCls" class="wizard-step-number">
          <i class="{{ group.iconoCls }}"></i>
        </span>
        <span ng-if="!group.iconoCls" class="wizard-step-number"
          >{{ key }}</span
        >
        <span class="wizard-step-complete border-success"
          ><i class="fa fa-check text-success"></i
        ></span>
        <span class="wizard-step-caption">{{ group.txNombreGrupo }}</span>
      </li>
    </ul>
  </div>
  <div class="wizard-content">
    <div
      ng-repeat="group in $ctrl.groups"
      class="wizard-pane"
      id="wizard-step-{{ group.cveGpo }}"
    >
      <base-form
        fields="group.fields"
        model="$ctrl.model"
        is-disabled="$ctrl.isFinished"
        on-change="$ctrl.updateModel($event)"
      >
      </base-form>

      <div ng-show="!$ctrl.isFinished">
        <button
          ng-if="!$first"
          type="button"
          class="btn btn-outline btn-rounded"
          data-wizard-action="prev"
        >
          <span class="btn-label-icon left fas fa-chevron-left"></span>
          {{ $ctrl.txBtnPrevious }}
        </button>

        <button
          ng-if="!$last"
          ng-disabled="!$ctrl.isValid"
          type="button"
          class="btn btn-outline btn-rounded"
          data-wizard-action="next"
        >
          <span class="btn-label-icon right fas fa-chevron-right"></span>
          {{ $ctrl.txBtnNext }}
        </button>

        <button
          ng-if="$last"
          ng-disabled="!$ctrl.isValid"
          type="button"
          class="btn btn-rounded"
          ng-class="$ctrl.btnSubmitClass"
          data-wizard-action="finish"
          ng-click="$ctrl.finished();"
        >
          <span class="btn-label-icon right fas fa-check"></span>
          {{ $ctrl.txBtnFinish }}
        </button>
      </div>
    </div>
  </div>
</px-wizard>
