<px-wizard class="wizard">
  <div class="wizard-wrapper">
    <ul class="wizard-steps">
      <li ng-repeat="(i, key) in $ctrl.groupKeys" data-target="#wizard-step-{{i + 1}}">
          <span ng-if="$ctrl.groups[key].iconClass" class="wizard-step-number">
            <i class="{{$ctrl.groups[key].iconClass}}"></i>
          </span>
        <span ng-if="!$ctrl.groups[key].iconClass" class="wizard-step-number">{{key}}</span>
        <span class="wizard-step-complete border-success"><i class="fa fa-check text-success"></i></span>
        <span class="wizard-step-caption">{{$ctrl.groups[key].txGroupName}}</span>
      </li>
    </ul>
  </div>
  <div class="wizard-content">
    <div ng-repeat="(i, key) in $ctrl.groupKeys" class="wizard-pane" id="wizard-step-{{i + 1}}">

      <base-form
        fields="$ctrl.groups[key].fields"
        model="$ctrl.model"
        is-disabled="$ctrl.isFinished"
        on-change="$ctrl.updateModel($event)">
      </base-form>

      <div ng-show="!$ctrl.isFinished">
        <button
          ng-if="!$first"
          type="button"
          class="btn btn-outline btn-rounded"
          data-wizard-action="prev">
          <span class="btn-label-icon left fas fa-chevron-left"></span>
          {{$ctrl.txBtnPrevious}}
        </button>

        <button
          ng-if="!$last"
          ng-disabled="!$ctrl.isValid"
          type="button"
          class="btn btn-outline btn-rounded"
          data-wizard-action="next">
          <span class="btn-label-icon right fas fa-chevron-right"></span>
          {{$ctrl.txBtnNext}}
        </button>

        <button
          ng-if="$last"
          ng-disabled="!$ctrl.isValid"
          type="button"
          class="btn btn-rounded"
          ng-class="$ctrl.btnSubmitClass"
          data-wizard-action="finish"
          ng-click="$ctrl.finished();">
          <span class="btn-label-icon right fas fa-check"></span>
          {{$ctrl.txBtnFinish}}
        </button>
      </div>
    </div>
  </div>
</px-wizard>
