<div ng-messages="$ctrl.formModel.$error">
    <small ng-message="required" class="form-message light">{{ 'APP.ERR_REQ' | translate: $ctrl.translationData }}</small>
    <small ng-message="minlength" class="form-message light">{{ 'APP.ERR_MIN' | translate: $ctrl.translationData }}</small>
    <small ng-message="maxlength" class="form-message light">{{ 'APP.ERR_MAX' | translate: $ctrl.translationData }}</small>
    <small ng-message="pattern" class="form-message light">{{ 'APP.ERR_PATTERN' | translate: $ctrl.translationData }}</small>
    <small ng-message="number" class="form-message light">{{ 'APP.ERR_NUM' | translate: $ctrl.translationData }}</small>
    <small ng-message="maxIntegers" class="form-message light">{{ 'APP.ERR_NUM_INT' | translate: $ctrl.translationData }}</small>
    <small ng-message="maxDecimals" class="form-message light">{{ 'APP.ERR_NUM_DEC' | translate: $ctrl.translationData }}</small>
    <small ng-message="date" class="form-message light">{{ 'APP.ERR_DATE' | translate: $ctrl.translationData }}</small>
</div>
